<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Am I Lucky Today</title>

    <link rel="icon" type="image/x-icon"
          href="https://www.pngrepo.com/png/244679/512/clover.png"/>
    <link href="../static/css/luck.css" th:href="@{/css/luck.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/error.css" th:href="@{/css/error.css}">

</head>
<body>

<div id="app">
    <div class="doors">
        <div class="door">
            <div class="boxes">
                <!-- <div class="box">?</div> -->
            </div>
        </div>

        <div class="door">
            <div class="boxes">
                <!-- <div class="box">?</div> -->
            </div>
        </div>

        <div class="door">
            <div class="boxes">
                <!-- <div class="box">?</div> -->
            </div>
        </div>


    </div>

    <div class="buttons">
        <button id="spinner">Spin</button>
        <button id="reseter">Reset</button>
    </div>

    <p class="info"></p>

    <h1>1/16     chance</h1>

    <h2 id="output" style="color: yellow" class="hide"></h2>
</div>

<script type="text/javascript" src="../static/js/luck.js"
        th:src="@{/js/luck.js}"></script>

</body>
</html>