@import url("https://fonts.googleapis.com/css?family=Bungee");

body {
    background: #1b1b1b;
    color: white;
    font-family: "Bungee", cursive;
    margin-top: 50px;
    text-align: center;
}
a {
    color: #2aa7cc;
    text-decoration: none;
}
a:hover {
    color: white;
}
svg {
    width: 50vw;
}
.lightblue {
    fill: #444;
}

#eye-wrap {
    overflow: hidden;
}
.error-text {
    font-size: 120px;
}
.alarm {
    animation: alarmOn 0.5s infinite;
}

@keyframes alarmOn {
    to {
        fill: darkred;
    }
}
